name: mobile_rag_engine_example
description: Example app demonstrating Mobile RAG Engine usage.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  mobile_rag_engine:
    path: ../
  path_provider: ^2.1.5
  file_picker: ^9.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/evalsets/
    - assets/sample_data/
